*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.img-max{
    max-width: 100px;
}

.copyright{
    font-weight: bolder;
    margin: 4px;
    color: rgb(196, 193, 193);
}

img.footer__logoRedes--size{
    width: 2em;
    margin: 0.5em;
}


img.footer__logoPagos--size{
    width: 4em;
    margin: 0.5em;
}