*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

main{
    margin: 10px;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    border-bottom: solid 2px red;
}

.logo{
    width: 8vw;
    transition: width 1s;
}

.logo:hover{
    width: 9vw;
}

nav{
    align-self: end;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    padding: 4px;
    border-left: solid 1px;
    border-right: solid 1px;
    margin: 2px;
}

nav li a{
    padding: 0.4em;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

nav li a:hover{
    background-color: red;
    color: white;
    border-top: 2px white solid;
}

.hide{
    display: hidden;
    width: 8vw;
}

strong{
    color: white;
    padding: 8px;
    background-color: red;
    border-top: solid 2px white;
    font-weight: bolder;
}

table{
    padding: 0.5em;
}

th{
    color: red;
    padding: 4px;
    border-bottom: solid 2px red;
    font-size: 1.4em;
    font-weight: bolder;
}

.nombre{
    color: #F6CB1E;
    background-color: #222;
    padding: 9px;
    font-size: 1.2em;
    font-weight: bolder;
}

.precio{
    background-color: red;
    color: white;
    padding: 4px;
    border: solid 1px black;
    font-size: 1.2em;
}

.descripcion{
    color: red;
    padding: 4px;
    border-bottom: solid 2px red;
    font-size: 1.2em;
}

footer{
    width: 100%;
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "p pagos redes";
    height: 9em;
}

.copyright{
    font-weight: bolder;
    margin: 4px;
    color: rgb(196, 193, 193);
}
.pagos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0.7em;
}

.pagos img{
    margin: 10px;
}

.redes{
    width: 80%;
    height: 90%;
    background-color: white;
    border: solid 3px #990000;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "ig fb wpp"
    "phone numero numero";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-self: center;
    justify-self: center;
}

.redes img{
    margin-top: 4px;
    align-self: center;
    justify-self: center;
}

.redes a{
    align-self: center;
    justify-self: center;
}

.facebook{
    grid-area: fb;
}

.whatsapp{
    grid-area: wpp;
}

.instagram{
    grid-area: ig;
}

.numero{
    grid-area: numero;
    justify-self: start;
    align-self: center;
    margin-left: 5px;
}

#phone{
    grid-area: phone;
    justify-self: end;
    margin-bottom: 0.5em;
}

img.footer__logoRedes--size{
    width: 3em;
}


img.footer__logoPagos--size{
    width: 3em;
}