
main{
    margin: 10px;
}

h1{
    display: inline-block;
    background-color: #1f1f1f;
    color: white;
    font-weight: bolder;
    margin-left: 2em;
    margin-bottom: 3px;
    padding: 8px;
    border: 3px solid red;
}

.formulario{
    padding: 6px;
}

form{
    width: 38%;
    background-color: red;
    color: white;
    border: 2px solid black;
    padding: 0.4em;
}

label{
    padding: 3px;
}

select{
    padding: 3px;
    display: inline;
}

option{
    padding: 3px;
}

input{
    margin: 2px;
}

form p{
    display: inline;
}

iframe{
    margin-left: 0.5em;
}

