
.hide{
    display: hidden;
    width: 8vw;
}

strong{
    color: white;
    padding: 8px;
    background-color: red;
    border-top: solid 2px white;
    font-weight: bolder;
}

body{
    width: 100%;
}

div.gallery{
    background-color: #222;
    border: solid 3px #F6CB1E;
}

div.gallery img{
    display: inline;
    width: 40%;
    margin: 1em;
    height: auto;
    border: solid 2px #F6CB1E;
    filter: grayscale(1);
    transition: width 1s;
}

.gallery img:hover{
    width: 45%;
    filter: grayscale(0);
}

