section.welcome{
    animation-iteration-count: 1;
}

.welcome__img{
    position: relative;
}

.h1__welcome{
    position: absolute;
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    left: 0.7em;
    color: white;
    -webkit-text-stroke: 1px black;
}

.img__welcome{
    border-radius: 20px;
}

.cuadros{
    width: 40vw;

    & p{
        font-weight: bolder;
        -webkit-text-stroke: 1px RED;
        margin-bottom: 0;
        padding: 0.2em;
    }
    
    & a{
        text-decoration: none;
        background-color: white;
        border: solid 2px #990000;
        color: #990000;
        padding: 8px;
        border-radius: 20px;
        
        &:hover{
            background-color: #990000;
            color: white;
            animation-name: temblor;
            animation-duration: 1s;
            
        }    
}

@keyframes temblor{
    0%{transform: translate(0px, 0px);}
    20%{transform: translate(8px, 0px);}
    40%{transform: translate(0px, 0px);}
    60%{transform: translate(8px, 0px);}
    70%{transform: translate(0px, 0px);}
    80%{transform: translate(8px, 0px);}
    100%{transform: translate(0px, 0px);}
}
.contenedor__menu{
    width: auto;
    background-color: #222;
    border-radius: 20px;
    border: red 2px solid;
    color: white;
    margin-top: 1.5em;
}

.contenedor__contacto{
    width: auto;
    background-color: #222;
    border-radius: 20px;
    border: red 2px solid;
    color: white;
    margin: 1em 0px 1em 0px;
}
}
