*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

main{
    margin: 10px;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    border-bottom: solid 2px red;
}

.logo{
    width: 8vw;
    transition: width 1s;
}

.logo:hover{
    width: 9vw;
}

nav{
    align-self: end;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    padding: 4px;
    border-left: solid 1px;
    border-right: solid 1px;
    margin: 2px;
}

nav li a{
    padding: 0.4em;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

nav li a:hover{
    background-color: red;
    color: white;
    border-top: 2px white solid;
}

.hide{
    display: hidden;
    width: 8vw;
}

strong{
    color: white;
    padding: 8px;
    background-color: red;
    border-top: solid 2px white;
    font-weight: bolder;
}

table{
    padding: 0.5em;
}

th{
    color: red;
    padding: 4px;
    border-bottom: solid 2px red;
    font-size: 1.4em;
    font-weight: bolder;
}

.nombre{
    color: #F6CB1E;
    background-color: #222;
    padding: 9px;
    font-size: 1.2em;
    font-weight: bolder;
}

.precio{
    background-color: red;
    color: white;
    padding: 4px;
    border: solid 1px black;
    font-size: 1.2em;
}

.descripcion{
    color: red;
    padding: 4px;
    border-bottom: solid 2px red;
    font-size: 1.2em;
}
