
.navbar{
    --bs-navbar-padding-y: 0;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: white;
    padding: 0.5em;
    background-color: red;
    border-top: solid 2px white;
    font-weight: bolder;
}

/* Main */

.messiB__img{
    border-radius: 15px;
    border: gold 3px solid;
}

.us{
    margin: 1em 0px;
}

.burguerMessi{
    margin: 1em 0px 1em;
    padding: 0.8em;
    background-color: #222;
    border: red solid 3px;
    border-radius: 20px;
    color: white;
}

.text{
    text-align: center;
}

.text h2{
    color: gold;
    padding: 5px;
}

.text h3{
    padding: 4px;
}

.text p{
    padding: 3px;
}

.video1{
    padding: 0.6em 0px 0.6em 0px;
}

.link{
    display: none;
}
